.custom-table-1 html {
   font-family: sans-serif;
}

.custom-table-1 table {
   border-collapse: collapse;
   border: 2px solid rgb(200,200,200);
   letter-spacing: 1px;
   font-size: 0.8rem;
}

.custom-table-1 td,
.custom-table-1 th {
   border: 1px solid rgb(190,190,190);
   padding: 10px 20px;
}

.custom-table-1 td {
   text-align: center;
}

.custom-table-1 caption {
   padding: 10px;
}