body {
   height: 100vh;
}

.droste-grid-container {
   display: grid;
   grid-template: 45% 45% / 45% 45%;
   gap: 2px 2px;

   height: 100%;

   justify-content: center;
}

.droste-grid-container > div {
   border: 2px solid blue;
}

.repeat-test {
   display: grid;
   grid-template: 2fr repeat(2, 1fr) 2fr / repeat(2, 2fr);
}

.repeat-test > div {
   border: 2px solid blue;
}